@model Dictionary<string, string>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Project";
}
<p class="page-header">
    <h1>File -> New Project</h1></h1>
</p>
<div class="container">
	
    <div class="col-md-8">
		<h4>Yo!</h4>
		<p>
			Yeoman's aspnet generator is a very popular scaffolding package.<br/>
			<code>npm install -g yo</code><br/>
			Has a few manual dependencies to scaffold aspnet projects:<br/>
			<ul>
				<li><a href="http://bower.io./search">Bower</a>: <code>npm install -g bower</code></li>
				<li><a href="http://gruntjs.com">Grunt</a>: <code>npm install -g grunt</code></li>
				<li>Grunt-CLI: <code>npm install -g grunt-cli</code></li>
			</ul><br/>
			Currently several issues with aspnet scaffolding and mono clashing (at least for web projects).<br/>
			More details at GitHub issues: <a href="https://github.com/OmniSharp/generator-aspnet/issues">https://github.com/OmniSharp/generator-aspnet/issues</a>
		</p>
	</div>
	<br/>
	
</div>